@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
--accent-color: #91916C;
--light-color: #E5A985;
--ligth-green: #E1E1C2;
}
html * {
  box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000;
}
ul {
    list-style-type: none;
}
.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  .nunito-sans-regular {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }
  .nunito-sans-bold {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }
  .playfair-display-bold {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }
  
  .container {
    max-width: 1120px;
    margin: 0 auto;
	padding: 0 15px;
  }
  @media screen and (max-width: 1200px) {
    .container {
        max-width: 950px;
    }
}
@media screen and (max-width: 991px) {
    .container {
        max-width: 600px;
        padding: 0 5px;
    }
}
@media screen and (max-width: 767px) {
    .container {
        max-width: 680px;
    }
}
/* HEADER */
header {
  background-color: #fff;
}
.header_sticky {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    font-size: 20px;
  }
  .header__menu_burger {
    position: absolute;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 20px;
    padding-top: 30px;
    top: 55%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    /* height:100%;
    width:100%; */
    background-color:var(--accent-color);
    z-index:9999;
    text-align:center;
    font-size: 30px;
  }
  .header__menu_burger a {
    color: #fff;
  }
  /* .header__menu_burger li {
    font-size: 30px;
  } */
  .burger-menu {
    display: none;
  }
  @media screen and (max-width: 767px) {
    .header__menu {
        display: none;
    }
    .burger-menu {
        display: block;
    }
}
@media screen and (max-width: 1200px) {
    .header__menu {
        gap: 50px;
        font-size: 16px;
    }
}
  @media screen and (max-width: 991px) {
    .header__menu {
        gap: 20px;
        font-size: 16px;
    }
}
.bar {
    transition:0.4s; 
 }
 .bar-1 {
   
   width:5em;
   display: block;
   width: 40px;
   border-top: 6px solid var(--accent-color);
   padding-top:6px;
   cursor:pointer;
   transition:0.4s;
 }
.bar-2 {     
   width:5em;
   display: block;
   width: 40px;
   border-top: 6px solid var(--accent-color);
   padding-top:5px;  
   display:fixed;
   transition:0.4s;
   }
    .bar-3 {  
 
   width:5em;
   display: block;
   width: 40px;
   border-top: 6px solid var(--accent-color);
   padding-top:5px;
   transition:0.4s;
 
   }
 
 
 .change .bar-1 {
 
 -webkit-transform: rotate(-45deg) translate(-10px, 5px);
     transform: rotate(-45deg) translate(-10px, 8px);
 }
 
 .change .bar-2 {opacity:0;}
 
 .change .bar-3 {
     -webkit-transform: rotate(45deg) translate(-10px, 5px);
     transform: rotate(45deg) translate(-10px, -5px);
 }

  .logo {
    color: var(--accent-color);
    font-size: 30px;
  }
  @media screen and (max-width: 991px) {
    .logo {
        font-size: 25px;
    }
}
/* INTRO */
.intro {
  background-image: url(img/intro-pic.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.intro__inner {
  display: flex;
  justify-content: end;
}
.intro__section {
  width: 60%;
  margin: 20vw;
}
@media screen and (min-width: 1421px) {
  .intro__section {
      margin: 10vw 0;
  }
}
@media screen and (max-width: 1420px) {
  .intro {
    background-image: none;
  }
}
@media screen and (max-width: 991px) {
  .intro__inner {
    justify-content: center;
  }
}
@media screen and (max-width: 1420px) {
  .intro__section {
      margin-top: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .intro__section {
    width: 70%;
      margin-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  .intro__section {
    width: 80%;
      margin-top: 0;
  }
}
.main-heading {
  width: 95%;
  color: var(--light-color);
  font-size: 56px;
  line-height: 139%;
  letter-spacing: 2px;
}
.intro__text {
  width: 85%;
  font-size: 24px;
  line-height: 171%;
  color: #4A4747;
}
@media screen and (max-width: 1420px) {
  .main-heading {
    font-size: 46px;
  }
  .intro__text {
    font-size: 20px;
  }
  .btn-one {
    padding-top: 12px;
  }
}
@media screen and (max-width: 991px) {
  .main-heading {
    font-size: 36px;
  }
}
.intro__email {
  margin-top: 95px;
}
@media screen and (max-width: 1200px) {
.intro__email {
  margin-top: 45px;
}
}
.email__input {
  min-width:  70%;
  padding: 15.5px 25px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 20px;
  background-color: #E5E5E5;
  color: #C4C4C4;
}
.email__input:focus {
  color: #000;
}
.email {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-one {
  padding: 17.5px 15px;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
  background-color: var(--accent-color);
  color: #fff;
}
.btn-one:hover {
  cursor: pointer;
  background-color: var(--light-color);
}
@media screen and (max-width: 991px) {
  .email__input {
    padding: 20px 25px;
  }
  .btn-one {
    padding: 10px 15px;
  }
}
/* PRODUCT */
.product {
  background-color: var(--ligth-green);
}
.product__inner {
  width: 100%;
  padding-top: 100px;
  text-align: center;
}
.product__h-section {
  width: 100%;
  margin: 0 auto;
}
.h-section {
  padding: 10px 55px;
  border-bottom: 3px solid var(--accent-color);
  font-size: 32px;
  color: var(--accent-color);
}

.h-section_begje {
  color: #B28F79;
  border-bottom-color: #B28F79;
}
.product__heading {
  max-width: 50%;
  margin: 65px auto;
}
.second-heading {
  font-size: 48px;
  color: #65653E;
}
@media screen and (max-width: 1420px) {
  .h-section {
    font-size: 25px;
  }
  .second-heading {
    font-size: 35px;
  }
}
.slide {
  display: flex;
  justify-content: center;
}
.slider-img {
  width: min-content !important;
  max-width: 80% !important;
  max-height: 432px;
}
@media screen and (max-width: 991px) {
  .container_product {
    max-width: 100%;
  }
  .slider-img {
    height: 345px;
    max-width: 65vw !important;
  }
}
@media screen and (max-width: 767px) {
  .slider-img {
    height: 200px;
    max-width: 60vw !important;
  }
}
@media screen and (max-width: 480px) {
  .slider-img {
    height: 125px;
    max-width: 50vw !important;
  }
}
.product__info {
  padding-bottom: 30px;
  font-size: 20px;
  color: #333333;
}
/* SERVICES */
.services__inner {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}
.services__heading {
  margin-top: 80px;
  color: #E5A985;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.card {
  width: 359px;
  transition: all .1s ease-in-out .2s;
  border-radius: 25px;
  background-color: #FAE3D8;
  font-size: 24px;
}
.card__img {
  width: 100%;
}
.card__text {
  width: 70%;
  margin: 0 auto;
  padding: 15px 0;
}

.card:hover {
  transform: scale(1.1);
  background-color: var(--accent-color);
  color: #fff;
}
@media screen and (min-width: 1420px) {
  .cards {
    flex-wrap: nowrap;
  }
}
/* BLOG */
.blog {
  background-color: #FFEFE7;
}
.blog__inner {
  padding: 5vw 0;
  text-align: center;
}
.blog__heading {
  max-width: 55%;
  margin: 65px auto;
  color: #795744;
}
.blog__posts {
  padding: 0 95px;
}
.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.post {
  flex-basis: 33%;
  display: flex;
  gap: 20px;
  margin-top: 60px;
}
.post__text {
  font-size: 20px;
}
@media screen and (max-width: 1200px) {
.post {
  flex-basis: 50%;
}
}
@media screen and (max-width: 991px) {
  .post {
    flex-basis: 100%;
  }
  }
  @media screen and (max-width: 480px) {
    .post__img {
      height: 150px;
    }
    .post__text {
      margin: 0;
    }
    }
  /* CONTACT */
  .contact {
    position: relative;
    padding: 5vw 0;
    text-align: center;
  }
  .contact__h-section {
    display: inline-block;
    margin-bottom: 100px;
  }
  .contact__content {
    background-color: var(--accent-color);
  }
  .contact__img {
    position: absolute;
    bottom: 0;
    left: 200px;
  }
  .contact__inner {
    padding: 5vw 0;
    text-align: center;
  }
  .contact__heading {
    max-width: 50%;
    margin: 5vw auto;
    color: #fff;
    font-size: 48px;
  }
  .form__container {
    display: flex;
    justify-content: end;
  }
  .contact__form {
    margin-top: 5vw;
  }
  .form {
    width: 608px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  .form__field {
    min-width: 300px;
    max-width: 608px;
    padding: 21px;
    margin-bottom: 12px;
    background-color: rgb(225, 225, 194, .4);
    border: none;
    border-radius: 5px;
  }
  .form__field::placeholder {
    color: #fff;
    font-size: 20px;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }
  .form__btn {
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    background-color: #E5A985;
    color: #fff;
  }
  .form__btn:hover {
    background-color: #e29c70;
  }
  .contact__email, .contact__subject {
    flex-basis: 100%;
  }
  @media screen and (min-width: 1421px) {
    .contact__heading {
      margin: 10vw auto;
    }
  }
  @media screen and (max-width: 1420px) {
    .contact__img {
      left: 0;
    }
    .contact__heading {
      font-size: 36px;
      max-width: 30%;
    }
  }
    @media screen and (max-width: 1200px) {
      .contact__img {
        width: 30%;
        bottom: 100px;
      }
      }
      @media screen and (max-width:991px) {
        .contact__img {
          display: none;
        }
	.contact__heading {
          max-width: 90%;
        }
        .form__container {
          justify-content: center;
        }
        .form__field {
          flex-basis: 100%;
        }
        }
  .save-msg {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 20px;
    width: 80vw;
    height: 10vh;
    background: var(--accent-color);
    color: #fff;
    text-align: center;
    font-size: 27px;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }
